.movie_section {
	width: 100%;
	height: 20%;
	border-style: solid;
	margin-right: 10px;
	overflow-x: scroll;
}


.movie_images {
	width: 8%;
	height: 90%;
}

img {
	margin-top: 10px;
	margin-left: 10px;
}