.movie_section {
	width: 100%;
	height: 20%;
	margin-right: 10px;
	margin: 0;
	overflow: hidden;
}

.background {
	width: 100%;
	height: 100%;
	background-color: #3a3b3d;
} 

.movie_images {
	width: 100%;
	height: 100%;
	float:left;
}


.movie_container {
	position: relative;
	width: 13%;
	height: 100%;
	overflow: hidden;
	float:left;
}

.movie_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.genres_text {
	color: white;
	font-family: 'myFont';
	font-size: 30px;
}

.movie_title_text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.movie_container:hover .movie_overlay {
  opacity: 0.8;
}

.rating { 
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%,-50%); 
  display: flex;
  flex-direction: row-reverse;
}

.rating input{
  position: flex;
  display: none;
  opacity: 1;
  height: 25px;
  width: 25px;
}

.rating label{
  display: block;
  cursor: pointer;
  width: 1.8vw;
  font-size: 10vw;
  font-size: 10vh;  
}

.rating label:before{
  content: '\f005';
  font-family: FontAwesome;
  position: absolute;
  display: block;
  font-size: 150%;
  font-size: 3vw;
  font-size: 3vh;
  color: #ffffff;
  opacity: 0.15;
}

.rating label:after{
  content: '\f005';
  font-family: FontAwesome;
  position: none;
  display: block;
  font-size: 150%;
  font-size: 3vw;
  font-size: 3vh;
  color: #d8cb13;
  top: 0;
  opacity: 0;
  transition: .5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating label:checked ~ label:after
{
  opacity: 1;
}

@font-face {
  font-family: 'myFont';
  src: url(/fonts/Zector.otf);
  font-weight: bold;
}
img {
	margin-left: 2px;
}